API_ID=22457267 # get this value from my.telegram.org
API_HASH=969b773228e3abfb3d5ee9874125901a # get this value from my.telegram.org
BOT_TOKEN=5454472798:AAHsjumy1GRPM6-GMvuY7HWXxrVL2NatmoA # get this value from @Botfather
MONGO_DB_URI=mongodb+srv://lordd:lordd@cluster0.s0md3.mongodb.net/?retryWrites=true&w=majority # get this value from mongodb.com
LOG_GROUP_ID=-1001762177463 # get this value from in your log group 
MUSIC_BOT_NAME=ElegantMusicBot # your music bot name 
STRING_SESSION=AgCNYkke03CMRuE0AtqwH8zgnlUBf5x5okAooTF93E_OgAFYPVGKcVLO3S01dbB6MzGZdLAGsOS507RFEfBxe9CbVknrUJiXCO29YG4rfBOmH8rvHqoONPeP9pV1Hz2Mzq2pwd_791pDRf7yPIjhcZA9K2Z0IGuZ8wXRsm36Z9SPsPqVi4CkQeeGLCIy8FUXFrD3mqGr4OqUoGIzjSS0sfy-dlWihcGMvIw3Je0oBr2tXJO8nVmLslPD97P15YHQ7JgjMnUmJ5sKEmtHjmgl3WFy4q12_dmTZvL_tyzu5MYUlepTR1rSthiiYX3Z0YkMpJZdHfB2QdFWmWoJrbERm6FzAAAAAW5-McIA # get this value from @yukkistringbot
OWNER_ID=5105666086
